@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-color: rgb(255, 0, 0);
    background: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: auto 200px;
  background-blend-mode: multiply;
    height: 200px;
    max-width: 412px;
}
.container-grid {  display: grid;
    width: 350px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
   
  }
  .sqr{
      height: 60px;
      width: 60px;
      border-radius: 15%;
      background-color: rgb(150, 150, 150);
  }
  .sqr-done{
    height: 60px;
    width: 60px;
    border-radius: 15%;
    background-color: #00a724;
}
  .pushop-icon{
      width: 40px;
      filter: grayscale(100%);
      
  }
  .txt{
      font-size: 13px;
  }
  .situp-icon{
    width: 25px;
    padding-top: 8px;
    padding-bottom: 7px;
    filter: grayscale(100%);
    
}
h2{
width: 350px;
font-weight: bold;
}
.txtwrapper{
    width:350px
}
.style1{
    background-color: blueviolet;
}
.trgtt{
    height: 60px;
      width: 60px;
}